.taskListContainer {
    background-color: #ecedf6;
    border-radius: 10px;
    padding: 10px;
    height: 350px;
    overflow-y: auto;
}

.taskListContainer ul li {
    background-color: white;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    align-items: center;

}

.taskListContainer li input[type="checkbox"] {
    margin-right: 10px;
}

.filterBtn {
    text-align: center;
    margin-bottom: 20px;
    background-color: #ecedf6;
    padding: 10px;
    border-radius: 5px;
}

.filterBtn button {
    margin-right: 10px;
    width: 15%;
    padding: 10px;
}

.taskListContainer li i {
    margin-left: auto;
    cursor: pointer;
    color: rgb(207, 87, 87);
    font-size: 30px;
}

.customCheckbox {
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customCheckbox:checked::before {
    opacity: 1;
}

@media only screen and (max-width: 600px) {
    .filterBtn button {
        font-size: 15px;
        width: 70%;
        margin-top: 10px;
    }
  }